/* External CSS: General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #6b348f;
}

h1 {
    color: #333;
    text-align: center;
}

.highlight {
    color: #ff47e6;
    font-size: 1.2em;
}

p {
    font-size: 1.1em;
    color: #444;
}
